@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  &:focus {
    outline: none;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #e8ecf3;
  display: grid;
  place-items: center;
}

.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 42px;
  background: #0c1226;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 300ms all;
  &.active {
    top: 20px;
    opacity: 1;
    visibility: visible;
  }
}

h3 {
  font-size: 34px;
  font-weight: bold;
  color: #0c1226;
}

ul.color-palette {
  display: flex;
  li {
    margin: 0 15px;
    width: 207px;
    height: 329px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: 300ms all;
    &:hover {
      box-shadow: 0 15px 42px -12px #a8b2c3;
      top: -10px;
    }
    input {
      position: absolute;
      opacity: 0;
      left: -99999999px;
    }
    .color {
      width: 100%;
      height: 251px;
      background: #eeedf0;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .text {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #0c1226;
    }
  }
}

.action {
  text-align: center;
  button {
    width: 393px;
    height: 68px;
    background: #7e6cca;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    color: #0c1226;
    line-height: 29px;
  }
}

.shortcut-text {
  background: #fff;
  padding: 9px 20px;
  border-radius: 25px;
  color: #0c1226;
}
